#!jinja|yaml


{% set nameservers = ['10.220.16.105','10.220.16.106'] %}
{% set search      = 'npad.stone.com.br' %}


 {% set dns = {
   'nameservers' : nameservers,
   'search' : search,
   'options' : [
     'rotate',
     'timeout:1',
     'attempts:5'
    ]
 }%}