#!jinja|yaml


{% set nameservers = ['192.168.0.1','1.1.1.1'] %}
{% set search      = 'brisa.io' %}

 {% set dns = {
   'nameservers' : nameservers,
   'search' : search,
   'options' : [
     'rotate',
     'timeout:1',
     'attempts:5'
    ]
 }%}
